@import "@/styles/_variables";

.weatherSearch {
  min-width: 460px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  padding: 16px;
  background-color: $white;
  border-radius: 8px;
}
