// colors
$primaryRed: #ff4d4d;
$tenderRed: #dfa7a6;
$primaryBlue: #1e88e5;
$accentBlue: #60a5fa;
$lightBlue: #dfedfd;
$lightBlue: #ebf6ff;
$white: #ffffff;
$darkGrey: #374151;
$tenderGrey: #b1dbff1c;
$grey: #4f5b72;
$streetGray: #d1d5db;
$lightgrey: #e5e7eb;
$yellow: #f3e9a1;
$lightyellow: #fcfbf5;
$green: #4ade80;
