@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; 
}

.mainContent {
  flex: 1; 
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 150px); 

}