@import "@/styles/_variables"; 

.empty {
  margin-top: 48px;
  padding: 64px 32px;
  text-align: center;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    color: $primaryBlue;
    margin-bottom: 24px;
    opacity: 0.6;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    color: $primaryBlue;
    margin: 0;
  }

  &__text {
    font-size: 14px;
    margin-top: 8px;
    color: $primaryBlue;
  }
}